@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer  hover:text-yellow-400 hover:p-1 hover:scale-110 transition ease-in-out hover:border hover:border-white;
  }
  .link-wo-a {
    @apply cursor-pointer  hover:text-yellow-400  transition ease-in-out;
  }
  .amazonbutton {
    @apply p-1 m-1 rounded-2xl text-xs  md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400
     focus:outline-none focus:ring-2 focus:ring-yellow-500 active:to-yellow-500 
     hover:bg-yellow-500;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
